/*
 * laravel/laravel.com-next, MIT License.
 * https://github.com/laravel/laravel.com-next/blob/a59bb1087a6410eb13dc434f0c79b5c45532c7a9/resources/css/_docs.css
 * https://github.com/laravel/laravel.com-next/blob/a59bb1087a6410eb13dc434f0c79b5c45532c7a9/resources/css/_typography.css
 */

.content {
    h1, h2, h3, h4, h5, h6 {
        @apply font-medium mb-[1em];
    }

    h1 {
        @apply mb-[.65em] tracking-[-1px] leading-[1.125em];
        @apply text-5xl;
    }

    h2 {
        @apply text-3xl font-normal tracking-[-.5px] leading-[1.125em];
    }

    h3 {
        @apply text-xl font-medium tracking-[-.33px] leading-[1.25em];
    }

    h4 {
        @apply text-lg font-normal tracking-[-.25px];
        @apply sm:text-[1.5em];
    }

    h5 {
        @apply text-base text-gray-700 font-bold leading-[1.666em];
    }

    h6 {
        @apply text-base text-gray-600 font-medium;
    }

    h2 a,
    h4 a,
    h3 a {
        @apply text-gray-900;

        @apply before:content-["#"];
        @apply before:absolute;
        @apply before:ml-[-1em];
        @apply before:font-normal before:text-red-600;
        @apply before:opacity-60;
    }

    a {
        @apply relative;
        @apply text-red-600 hover:text-red-800;
        @apply no-underline;
        @apply transition-all duration-[.3s] ease-in-out;
    }

    a[name] {
        @apply relative block invisible top-[-1em];
    }

    p {
        @apply text-gray-700 text-base leading-loose;
    }

    p, ul, ol {
        @apply mb-[2em];
    }

    /* @TODO quotes for other languages */
    q, blockquote p {
        quotes: "“" "”" "‘" "’";
    }

    blockquote {
        @apply ml-0 mr-0;
    }

    span.small_text {
        @apply block text-[.625em] text-gray-700 leading-[1.4em];
    }

    span.label, label {
        @apply block mb-[.875em] text-[.625em] leading-[1.4em] uppercase tracking-[2.5px] opacity-40;
    }

    code {
        @apply text-gray-900 font-mono;
    }

    :not(pre) > code {
        @apply -my-1 px-2 py-1 border-b border-r rounded;
        @apply bg-zinc-100 text-base text-red-800;
    }

    .list-custom li {
        @apply relative pl-4;

        @apply before:absolute;
        @apply before:top-[.15em] before:left-0;
        @apply before:w-[9px] before:h-[10px];
        @apply before:bg-list-dot before:bg-center before:bg-no-repeat;
    }

    table {
        border-collapse: collapse;
        @apply w-full text-base mb-8;

        th, td {
            @apply p-3 border border-gray-300 text-left;
        }

        th {
            @apply text-lg;
        }
    }

    .page_title {
        @apply hidden;
    }

    ul:not(:first-of-type),
    .content-list ul {
        @apply list-none m-0 mb-[2.5em] p-0;

        li {
            @apply relative block pl-5 mb-4 text-sm text-gray-700;

            @apply before:absolute;
            @apply before:top-[.40em] before:left-0;
            @apply before:w-[9px] before:h-[10px];
            @apply before:bg-list-dot;
            @apply before:bg-no-repeat before:bg-center before:bg-contain;

            a {
                @apply no-underline;
            }
        }
    }

    h1 + ul {
        @apply mb-[4em] list-none m-0 p-0;

        li {
            @apply block mb-[.5em];

            a {
                @apply relative text-[.89em] font-medium text-gray-900 no-underline;

                @apply before:content-["#"];
                @apply before:mr-1;
                @apply before:text-red-600;
            }
        }

        ul {
            @apply mt-[.5em] p-0 mb-0;

            li {
                @apply pl-[1.5em];

                a {
                    @apply font-normal;
                }
            }
        }
    }
}

[lang^="zh-"] .content em,
[lang="ja-jp"] .content em {
    @apply not-italic;
    @apply font-medium;
}

[lang^="zh-"] ruby rt,
[lang="ja-jp"] ruby rt {
    /** ruby-align: start; **/
    @apply w-1 whitespace-nowrap overflow-visible;
}

.callout {
    @apply mb-10 max-w-2xl mx-auto px-4 py-8 shadow-lg lg:flex lg:items-center;
}

.callout__img {
    @apply w-20 h-20 mb-6 lg:mb-0 flex items-center justify-center flex-shrink-0;
}
