/*
 * laravel/laravel.com-next, MIT License.
 * https://github.com/laravel/laravel.com-next/blob/a59bb1087a6410eb13dc434f0c79b5c45532c7a9/resources/css/_docs.css
 * https://github.com/laravel/laravel.com-next/blob/a59bb1087a6410eb13dc434f0c79b5c45532c7a9/resources/css/_typography.css
 */

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    @apply font-medium mb-[1em];
}

.content h1 {
    @apply mb-[.65em] text-[2em] tracking-[-1px] leading-[1.125em];
    @apply md:text-[2.5em] lg:text-[3em] xl:text-[3.5em] 2xl:text-[4em];
}

.content h2 {
    @apply text-[1.75em] font-normal tracking-[-.5px] leading-[1.125em];
    @apply md:text-[2.25em] lg:text-[3em];
}

.content h3 {
    @apply text-[1.25em] font-medium tracking-[-.33px] leading-[1.25em];
    @apply sm:text-[1.75em] md:text-[2em];
}

.content h4 {
    @apply text-[1em] font-normal tracking-[-.25px];
    @apply sm:text-[1.5em];
}

.content h5 {
    @apply text-[.95em] text-gray-700 font-bold leading-[1.666em];
    @apply sm:text-[1.125em];
}

.content h6 {
    @apply text-[.875em] text-gray-600 font-medium;
}

.content a {
    @apply relative no-underline transition-all duration-[.3s] ease-in-out;
}

.content a.learn_more {
    @apply text-red-600 font-medium;
}

.content a.learn_more span {
    @apply inline-block transition-transform duration-[.3s] ease-in-out;
}

.content a.learn_more:hover span {
    @apply transform translate-x-[.5em];
}

.content p {
    @apply text-[1em] md:text-[1.125em] text-gray-700 leading-[1.666em];
}

.content p strong {
    @apply font-medium;
}

.content p.small {
    @apply text-[.75em] md:text-[.875em] leading-[1.714em];
}

.content p, .content ul, .content ol {
    @apply mb-[2em];
}

.content p a, .content ul a, .content ol a {
    @apply text-red-600 break-words no-underline hover:text-red-700;
}

/* @TODO quotes for other languages */
.content q, .content blockquote p {
    quotes: "“" "”" "‘" "’";
}

.content blockquote {
    @apply ml-0 mr-0;
}

.content span.small_text {
    @apply block text-[.625em] text-gray-700 leading-[1.4em];
}

.content span.label, .content label {
    @apply block mb-[.875em] text-[.625em] leading-[1.4em] uppercase tracking-[2.5px] opacity-40;
}

.content code {
    @apply text-[.775em] text-gray-900 font-mono leading-[1.714em];
}

.content :not(pre) > code {
    @apply py-0 px-[.25em] bg-gray-50 text-red-800;
}

.content .list-custom li {
    @apply relative pl-4;
}

.content .list-custom li:before {
    content: "";
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2210%22%20height%3D%2211%22%20viewBox%3D%220%200%2010%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPolygon%3C/title%3E%3Cpath%20d%3D%22M5.036%201.965l-3.492%201.94v3.88l3.492%201.94%203.492-1.94v-3.88l-3.492-1.94zm0-1.12l4.5%202.5v5l-4.5%202.5-4.5-2.5v-5l4.5-2.5z%22%20fill%3D%22%23FF2D20%22%20fill-rule%3D%22nonzero%22/%3E%3C/svg%3E");
    background-position: 50%;
    @apply absolute top-[.15em] left-0 w-[9px] h-[10px] bg-no-repeat;
}

.content a[name] {
    @apply relative block invisible top-[-45px] sm:top-[-30px];
}

.content table {
    border-collapse: collapse;
    @apply w-full text-base mb-8;
}

.content table th, .content table td {
    @apply p-3 border border-gray-300 text-left;
}

.content table th {
    @apply text-lg;
}

.content .page_title {
    @apply hidden;
}

.content h1 {
    @apply text-[2.5em] tracking-normal;
}

.content h2 {
    @apply text-[1.75em] tracking-normal;
}

.content h3 {
    @apply text-[1.25em] font-medium tracking-normal;
}

.content h4 {
    @apply text-base font-medium tracking-normal;
}

.content h4 a, .content h3 a, .content h2 a {
    @apply text-gray-900;
}

.content h4 a:before,
.content h3 a:before,
.content h2 a:before {
    content: "#";
    @apply absolute font-normal text-red-600 opacity-60;
}

.content h3 a:before,
.content h2 a:before {
    @apply ml-[-25px] text-[28px];
}

.content h4 a:before {
    @apply ml-[-18px] text-[17px];
}

.content code {
    line-height: 1.9;
    @apply text-[.8rem] font-medium text-gray-900;
}

.content p {
    @apply text-base leading-[1.8em];
}

.content p code {
    @apply text-[.8rem];
}

.content ul:not(:first-of-type),
.content .content-list ul {
    @apply list-none m-0 mb-[2.5em] p-0;
}

.content ul:not(:first-of-type) li,
.content .content-list ul li {
    @apply relative block pl-5 mb-4 text-[.89em] text-gray-700 leading-[1.714em];
}

.content ul:not(:first-of-type) li a,
.content .content-list ul li a {
    @apply no-underline;
}

.content ul:not(:first-of-type) li code,
.content .content-list ul li code {
    @apply text-[.875em];
}

.content ul:not(:first-of-type) li::before,
.content .content-list ul li::before {
    content: "";
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2210%22%20height%3D%2211%22%20viewBox%3D%220%200%2010%2011%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPolygon%3C/title%3E%3Cpath%20d%3D%22M5.036%201.965l-3.492%201.94v3.88l3.492%201.94%203.492-1.94v-3.88l-3.492-1.94zm0-1.12l4.5%202.5v5l-4.5%202.5-4.5-2.5v-5l4.5-2.5z%22%20fill%3D%22%23FF2D20%22%20fill-rule%3D%22nonzero%22/%3E%3C/svg%3E");
    @apply absolute top-[.40em] left-0 w-[9px] h-[10px] bg-no-repeat bg-center bg-contain;
}

.content h1 + ul {
    @apply mb-[4em] list-none m-0 p-0;
}

.content h1 + ul li {
    @apply block mb-[.5em];
}

.content h1 + ul li a {
    @apply relative text-[.89em] font-medium text-gray-900 no-underline;
}

.content h1 + ul li a::before {
    content: "# ";
    @apply text-red-600;
}

.content h1 + ul ul {
    @apply mt-[.5em] p-0 mb-0;
}

.content h1 + ul ul li {
    @apply pl-[1.5em];

}

.content h1 + ul ul li a {
    @apply font-normal;
}
