/*
 * laravel/laravel.com-next, MIT License.
 * https://github.com/laravel/laravel.com-next/blob/master/resources/css/_prism.css
 */

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+markup-templating+php&plugins=line-numbers */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code,
pre[class*="language-"] {
    @apply text-[#24292f] bg-white;
    @apply dark:text-[#adbac7] dark:bg-[#2d333b];

    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;

    tab-size: 4;
    hyphens: none;

    @apply selection:bg-gray-700;
}

@media print {
    code,
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0 2em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
}

.docs_main :not(pre) > code,
pre[class*="language-"] {
    @apply text-[#24292f] bg-white;
    @apply dark:text-[#adbac7] dark:bg-[#2d333b];

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    user-select: auto;
}

.docs_main :not(pre) > code {
    display: inline-flex;
    padding: 0 .125rem;
    max-width: 100%;
    overflow-x: auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-[#6e7781] dark:text-[#768390];
}

.token.punctuation {
    @apply text-gray-900 dark:text-gray-100;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    @apply text-[#0550ae] dark:text-[#6cb6ff];
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    @apply text-[#0a3069] dark:text-[#96d0ff];
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    @apply text-[#0969da] dark:text-[#539bf5];
}

.token.atrule,
.token.attr-value,
.token.keyword {
    @apply text-[#cf222e] dark:text-[#f47067];
}

.token.function {
    @apply text-[#8250df] dark:text-[#dcbdfb];
}

.token.class-name,
.token.package {
    @apply text-[#953800] dark:text-[#f69d50];
}

.token.important {
    @apply text-[#116329] dark:text-[#8ddb8c];
}

.token.regex,
.token.variable {
    @apply text-[#0550ae] dark:text-[#6cb6ff];
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    @apply text-blue-900 dark:text-blue-100;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
